body.sb-mod--canvas {
	background-color: #ff0082;
}
.sb-mod.sb-mod--canvas {
	background-image: url(../../../image/bg-02.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;

	canvas {
		position: absolute;
		top: 14%;
		left: 21%;
		width: 62%; 
		height: 58%;
	}

	.btn-reset {
		width: 20%;
		height: 12.4%;
		left: 0;
		top: 0;
		position: absolute;
	}
	.btn-confirm {
		width: 20%;
		height: 12.4%;
		right: 0;
		top: 0;
		position: absolute;
	}
	.frame-btns {
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 8%;
		height: 10%;
		width: 100%;
	}
	.frame-btns__btn {
		width: 20%;
		height: 100%;
	}
}
