.home-dialog {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: 999;
}
.home-dialog__mask {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.7);
}
.home-dialog__content {
	width: 208px;
	height: 251px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -104px;
	margin-top: -125px;
	background-image: url(../../../image/home/dialog-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}
.home-dialog__input {
	position: absolute;
	left: 10px;
	top: 45px;
	height: 50px;
	width: 85%;
	font-size: 1.5rem;
	color: #fff;
	text-align: center;
	border: none;
	background-color: transparent;
}
.home-dialog__confirm {
	left: 62px;
	top: 198px;
	width: 80px;
	height: 54px;
}
.home-dialog__close {
}