.upload-btn {
	margin: 0 auto;
	margin-top: 60px;
	margin-bottom: 30px;
	width: 200px;
	height: 40px;
	line-height: 36px;
	text-align: center;
	border: solid 1px #ccc;
	background-color: #eee;
	position: relative;
	overflow: hidden;
}
.upload-btn input {
	position: absolute;
	left: 0;
	top: 0;
	width: 4000px;
	height: 4000px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	opacity: 0;
}
#preview-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	display: block;
}