.share-container .share-bg {
    width: 100%;
    height: 100%;
}

.share-container .share-bg-finish {
    background-image: url('../image/bg_share_finish.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.share-container #action_canvas {
    position: absolute;
    top: 18%;
    left: 14%;
    width: 73%;
    height: 65%;
}