.sb-mod.sb-mod--buy {
	.body-inner {
		height: 100%;
	}

	.price-bg-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	#price-avatar {
		position: absolute;
		height: auto;
	}
	.g1 #price-avatar {
		left: 44.7%;
		top: 16.3%;
		width: 11.3%;
	}
	.g2 #price-avatar {
		left: 48.2%;
		top: 27.8%;
		width: 11.9%;
	}
	.g3 #price-avatar {
		left: 59.9%;
		top: 28.2%;
		width: 12%;
	}
	.g4 #price-avatar {
		left: 40.9%;
		top: 21.4%;
		width: 18.2%;
	}
	.g5 #price-avatar {
		left: 39.4%;
		top: 27.7%;
		width: 11.6%;
	}
	.g6 #price-avatar {
		left: 48.3%;
		top: 21.2%;
		width: 18.3%;
	}
	.g7 #price-avatar {
		left: 39.1%;
		top: 27%;
		width: 15.5%;
	}
	.g8 #price-avatar {
		left: 43.8%;
		top: 20.7%;
		width: 9.5%;
	}
	.g9 #price-avatar {
		left: 30.27%;
		top: 17.7%;
		width: 39.7%;
	}

	.price {
		position: absolute;
		width: 58.2%;
		height: 16.8%;
		left: 50%;
		top: 68.3%;
		margin-left: -29.1%;
		text-align: center;
		.img-btn {
			position: static;
			width: 27%;
			height: 59.2%;
			margin: 0 3%;
			background-position: left top;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.price-btn-1 {
			background-image: url(../../../image/price/price-btn-01.png);
			&.on {
				background-image: url(../../../image/price/price-btn-on-01.png);
			}
		}
		.price-btn-2 {
			background-image: url(../../../image/price/price-btn-02.png);
			&.on {
				background-image: url(../../../image/price/price-btn-on-02.png);
			}
		}
		.price-btn-3 {
			background-image: url(../../../image/price/price-btn-03.png);
			&.on {
				background-image: url(../../../image/price/price-btn-on-03.png);
			}
		}
	}
	#customized-price {
		position: absolute;
		width: 80%;
		bottom: 0;
		left: 17%;
		border: none;
		height: 24.15%;
		text-align: center;
		background-color: transparent;
		&.focus {
			background-color: #fff;
		}
	}

	.btn-back {
		width: 30%;
		height: 8%;
		left: 12%;
		top: 87%;
	}
	.btn-next {
		width: 30%;
		height: 8%;
		left: 60%;
		top: 87%;
	}
}