@import "../buy/s-goods.scss";
body.body-sb-mod--buy {
	background-color: #fff;
}
.sb-mod.sb-mod--buy {
	.body-inner {
		height: 100%;
	}

	.btn-go {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	.mom-open {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 99;
	}

	.mom-open__title {
		width: 65.8%;
		left: 50%;
		top: 15%;
		margin-left: -32.9%;
		position: absolute;
		position: absolute;
		transition: all .3s ease 1.5s;
		img {
			width: 100%;
			height: auto;
			display: none;
		}
	}

	.mom-open__express {
		width: 65%;
		left: 50%;
		top: 42.5%;
		margin-left: -32.5%;
		position: absolute;
		transition: all 1s ease .5s;
		img {
			width: 100%;
			height: auto;
		}
	}

	.mom-open__open-btn {
		width: 27.4%;
		height: 8.28%;
		left: 50%;
		top: 80.88%;
		margin-left: -13.7%;
		position: absolute;
		background-image: url(../../../image/buy/open-btn.png);
		transition: all .3s ease 2s;
	}

	.off {
		.mom-open__open-btn {
			transform: translateY(90px);
			opacity: 0;
		}
		.mom-open__express {
			transform: scale(0.2);
			opacity: 0;
		}
		.mom-open__title {
			transform: scale(0.2);
			opacity: 0;
		}
	}
}