.good-bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.good-price {
    position: absolute;
    left: 7.7%;
    top: 62%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    .price {
        text-align: left;
        color: #F54B00;
        font-weight: 700;
        position: absolute;
        left: 0;
        right: 0;
        top: 0.5%;
        img {
            float: left;
            width: 22%;
            margin-top: 3px;
        }
    }
}

#good-wrapper {
	height: 100%;
}

#good-avatar {
    position: absolute;
    height: auto;
}

.g1 #good-avatar {
    left: 16.3%;
    top: 8%;
    width: 66%;
}

.g2 #good-avatar {
    left: 41%;
    top: 4%;
    width: 21.3%;
}

.g3 #good-avatar {
    left: 44.4%;
    top: 27.2%;
    width: 23.7%;
}

.g4 #good-avatar {
    left: 66.7%;
    top: 30.4%;
    width: 20%;
}

.g5 #good-avatar {
    left: 33.4%;
    top: 14.8%;
    width: 29.5%;
}

.g6 #good-avatar {
    left: 35%;
    top: 28.8%;
    width: 20%;
}

.g7 #good-avatar {
    left: 38.5%;
    top: 26%;
    width: 24%;
}

#good-nick {
    position: absolute;
    top: 52%;
    left: 0;
    width: 100%;
    text-align: right;
    color: #000000;
    margin: 3px;
    p {
        margin: 0;
        text-align: left;
        margin: 5px;
        font-size: 0.96rem;
    }
}

.customize {
    position: absolute;
    left: 50%;
    top: 58.5%;
    width: 60%;
    margin-left: -30%;
    height: 27%;
}

#good-customized-good-name {
    color: #fff;
    font-weight: 700;
    text-align: center;
}

#good-customized-good-detail {
    position: absolute;
    left: 0;
    right: 0;
    top: 65%;
    text-align: left;
}

.good-actions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    img {
        display: block;
        width: 100%;
        height: auto;
    }
}
