.sb-mod.sb-mod--canvas {
    background-image: url(../../../image/bg_edit_avatar.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    canvas {
        position: absolute;
        top: 18%;
        left: 18%;
        width: 68%;
        height: 45%;
    }
    .btn-confirm {
        position: absolute;
        bottom: 1%;
        left: 34%;
        width: 35%;
        height: 11%;
    }
    .btn-choose-color {
        height: 20%;
        width: 30%;
        position: absolute;
        left: 40%;
        top: 68%;
        background-size: cover;
    }
    .btn-chose-color-blue {
        background-image: url(../../../image/btn_choose_color_blue.png)
    }
    .btn-chose-color-red {
        background-image: url(../../../image/btn_choose_color_red.png)
    }
}