.slide-08 {
	background-image: url(../../image/slide-08-bg.jpg);
}
.slide-08 .bird-1, .slide-08 .bird-2, .slide-08 .yun, .slide-08 .text {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.slide-08 .bird-1 {
	background-image: url(../../image/slide-08-bird-1.png);
	left: 66px;
	top: 27px;
	width: 168px;
	height: 155px;
	display: block;
}
.slide-08 .bird-2 {
	background-image: url(../../image/slide-08-bird-2.png);
	left: 66px;
	top: 27px;
	width: 168px;
	height: 131px;
	display: none;
}
.slide-08 .yun {
	background-image: url(../../image/slide-08-yun.png);
	left: 152px;
	top: 14px;
	width: 116px;
	height: 49px;
	animation: yun 2s infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
.slide-08 .text {
	background-image: url(../../image/slide-08-text.png);
	left: 102px;
	top: 144px;
	width: 111px;
	height: 88px;
}
.frame-1 .slide-08 .bird-1 {
	display: block;
}
.frame-1 .slide-08 .bird-2 {
	display: none;
}
.frame-2 .slide-08 .bird-1, .frame-3 .slide-08 .bird-1 {
	display: none;
}
.frame-2 .slide-08 .bird-2, .frame-3 .slide-08 .bird-2 {
	display: block;
}
.frame-4 .slide-08 .bird-1, .frame-5 .slide-08 .bird-1 {
	display: block;
}
.frame-4 .slide-08 .bird-2, .frame-5 .slide-08 .bird-2 {
	display: none;
}
.frame-6 .slide-08 .bird-1, .frame-7 .slide-08 .bird-1 {
	display: none;
}
.frame-6 .slide-08 .bird-2, .frame-7 .slide-08 .bird-2 {
	display: block;
}

@keyframes yun {
	0% {
		transform: translate(-10px, 0);
	}
	100% {
		transform: translate(10px, 0);
	}
}
