.slide-03 {
	background-image: url(../../image/slide-03-bg.jpg);
}
.slide-03 .bird-1, .slide-03 .bird-2 {
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
}
.slide-03 .bird-1 {
	background-image: url(../../image/slide-03-bird-1.png);
	left: 17px;
	top: 128px;
	width: 100px;
	height: 136px;
	display: block;
}
.slide-03 .bird-2 {
	background-image: url(../../image/slide-03-bird-2.png);
	left: 17px;
	top: 130px;
	width: 114px;
	height: 134px;
	display: none;
}
.frame-1 .slide-03 .bird-1 {
	display: block;
}
.frame-1 .slide-03 .bird-2 {
	display: none;
}
.frame-2 .slide-03 .bird-1, .frame-3 .slide-03 .bird-1 {
	display: none;
}
.frame-2 .slide-03 .bird-2, .frame-3 .slide-03 .bird-2 {
	display: block;
}
.frame-4 .slide-03 .bird-1, .frame-5 .slide-03 .bird-1 {
	display: block;
}
.frame-4 .slide-03 .bird-2, .frame-5 .slide-03 .bird-2 {
	display: none;
}
.frame-6 .slide-03 .bird-1, .frame-7 .slide-03 .bird-1 {
	display: none;
}
.frame-6 .slide-03 .bird-2, .frame-7 .slide-03 .bird-2 {
	display: block;
}
