.sb-mod.sb-mod--checked {
	background-image: url("../../../image/checked.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
    .btn-next{
        height: 13%;
        width: 49%;
        position: absolute;
        top: 70%;
        left: 26%;
    }

}
