.component-AccessoryList {
    ul {
        padding: 0;
        margin: 0;
        margin-left: 8px;
    }
    li {
        list-style: none;
        display: inline-block;
        margin-left: 8px;
    }
    .name-img {
        background-image: url(../../../image/icon_tool.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 13px;
        height: 13px;
        margin-right: 2px;
    }
}
