.component-AccessoryList {
    ul {
        padding: 0;
        margin: 0;
        margin-left: 8px;
    }
    li {
        list-style: none;
        display: inline-block;
        margin-left: 8px;
    }
}
