.sb-mod.sb-mod--canvas {
	background-image: url(../../../image/canvas/bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;

	canvas {
		position: absolute;
		top: 34%;
		left: 50%;
		width: 54.8%;
		height: 34.023%;
		margin-left: -27.4%;
	}

	.nick {
		position: absolute;
		width: 100%;
		top: 68%;
		text-align: center;
		color: #70462f;
		font-size: 1.6rem;
		font-weight: 700;
	}

	.btn-back {
		width: 30%;
		height: 8%;
		left: 12%;
		top: 87%;
	}
	.btn-next {
		width: 30%;
		height: 8%;
		left: 60%;
		top: 87%;
	}
}
