html, body {
    height: 100%;
}
.page-wrapper {
    height: 100%;
}

.icon{
    background-position: center;
    background-repeat: no-repeat;

    &.icon-taobao{
        background: url(../image/baoyou_taobao.png);
    }
    &.icon-tmall{
        background: url(../image/baoyou_tmall.png);
    }
    &.icon-baoyou{
        background: url(../image/baoyou_tag.png);
    }
    &.icon-float-bar{
        background: url(../image/float_bar.png);
    }
    &.icon-arrows-up{
        background: url(../image/top_arrows_up.png);
    }
    &.icon-arrows-down{
        background: url(../image/top_arrows_down.png);
    }
}
