.sb-mod.sb-mod--speaker {
    background-image: url(../../../image/s/s1.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    .body-inner {
        height: 100%;
        width: 100%;
        animation-duration: 1s;
        animation-name: fadeIn;
    }
    #container {
        width: 100%;
        background-color: white;
        .img-intro {
            height: 100%;
            width: 100%;
            animation-duration: 1s;
            animation-name: fadeIn;
        }
    }
    .btn {
        width: 30%;
        height: 10%;
        position: absolute;
        &.btn-pre {
            top: 0;
            left: 0
        }
        &.btn-next {
            bottom: 3%;
            right: 0;
        }
    }
}
