.component-Distributor {
    .inline-block {
        display: inline-block;
    }
    .text-red {
        color: red;
    }
    .text-gray {
        color: gray;
    }
    .text-margin span {
        margin-left: 4px;
    }
}
