body {
	background-color: #de2884;
}

.btn {
	line-height: 36px;
	text-align: center;
	border: solid 1px #ccc;
	background-color: #eee;
	color: #555;
	display: inline-block;
	padding: 0 10px;
	text-decoration: none;
}

.img-btn {
	text-indent: -999px;
	border: none;
	background-color: transparent;
	padding: 0;
}

.page-wrapper {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.sb-mod {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.sb-mod__body {
	width: 100%;
	height: 100%;
}

.share-layer {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	display: none;
}
.share-layer .cover {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: .8;
}

.audio-btn {
	background-image: url(../image/audio-off.png);
	position:absolute;
	top: 15%;
	right: 10px;
	width: 26px;
	height: 26px;
	background-size: auto 26px;
}
.audio-btn.on {
	background-image: url(../image/audio-on.png);
	animation: audio 3s infinite;
	animation-timing-function: linear;
}

@keyframes audio {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}