body.body-sb-mod--buy-confirm {
}
.sb-mod.sb-mod--buy-confirm {
	.body-inner {
		height: 100%;
	}

	.buy-confirm-bg-img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.buy-confirm-price {
		position: absolute;
		width: 24.4%;
		left: 4.5%;
		top: 55.6%;
		text-align: center;
		color: #fff;
		font-weight: 700;
		background-position: left top;
		background-repeat: no-repeat;
		background-size: cover;
	}

	#buy-confirm-avatar {
		position: absolute;
		height: auto;
	}
	.g1 #buy-confirm-avatar {
		left: 44%;
		top: 15.9%;
		width: 11%;
	}
	.g2 #buy-confirm-avatar {
		left: 47.6%;
		top: 26.5%;
		width: 11.5%;
	}
	.g3 #buy-confirm-avatar {
		left: 59%;
		top: 27%;
		width: 11.5%;
	}
	.g4 #buy-confirm-avatar {
		left: 41%;
		top: 20.4%;
		width: 17.5%;
	}
	.g5 #buy-confirm-avatar {
		left: 39.8%;
		top: 26.9%;
		width: 11%;
	}
	.g6 #buy-confirm-avatar {
		left: 47.9%;
		top: 20.5%;
		width: 17.6%;
	}
	.g7 #buy-confirm-avatar {
		left: 40.1%;
		top: 26.3%;
		width: 14.6%;
	}
	.g8 #buy-confirm-avatar {
		left: 43.5%;
		top: 19.7%;
		width: 9.5%;
	}
	.g9 #buy-confirm-avatar {
		left: 31.1%;
		top: 17.13%;
		width: 37.5%;
	}

	#buy-confirm-nick {
		position: absolute;
		text-align: right;
		color: #fce089;
		z-index: 100;
		font-size: 0.6rem;
	}
	.g1 #buy-confirm-nick {
		top: 36.3%;
		right: 50%;
	}
	.g2 #buy-confirm-nick {
		top: 36.2%;
		right: 50%;
	}
	.g3 #buy-confirm-nick {
		top: 36.6%;
		right: 50%;
	}
	.g4 #buy-confirm-nick {
		top: 41.4%;
		right: 50%;
	}
	.g5 #buy-confirm-nick {
		top: 36.4%;
		right: 50%;
	}
	.g6 #buy-confirm-nick {
		top: 36.9%;
		right: 50%;
	}
	.g7 #buy-confirm-nick {
		top: 40.8%;
		right: 50%;
	}
	.g8 #buy-confirm-nick {
		top: 36.15%;
		right: 50%;
	}
	.g9 #buy-confirm-nick {
		top: 36.15%;
		right: 50%;
	}

	.customize {
		display: none;
		position: absolute;
		left: 50%;
		top: 35.52%;
		width: 48.6%;
		margin-left: -24.3%;
		height: 27%;
		z-index: 99;
		img {
			width: 100%;
			height: auto;
		}
	}
	#buy-confirm-customized-good-name {
		color: #fff;
		font-weight: 700;
		font-size: 0.8rem;
		text-align: center;
		position: absolute;
		left: 0;
		top: 8%;
		width: 100%;
	}
	#buy-confirm-customized-good-detail {
		position: absolute;
		left: 0;
		right: 0;
		top: 52%;
		text-align: center;
		color: #fff;
		width: 70%;
		left: 50%;
		margin-left: -35%;
	}

	#buy-confrim-price {
		position: absolute;
		width: 55%;
		height: 3.6%;
		left: 48%;
		top: 64.8%;
		margin-left: -25.5%;
		border: none;
		background-color: transparent;
		text-align: center;
		&.focus {
			background-color: #fff;
		}
	}

	.buy-btn {
		left: 35%;
		top: 71%;
		width: 30%;
		height: 22%;
	}
}