.sb-mod.sb-mod--comfirm {
    background-image: url(../../../image/longpress.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    #comfirm-btn-press {
        width: 50%;
        height: 30%;
        position: absolute;
        top: 55%;
        left: 25%;
    }
}
