.sb-mod.sb-mod--comfirm {
    background-image: url(../../../image/longpress.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    #comfirm-btn-press {
        width: 50%;
        height: 30%;
        position: absolute;
        top: 55%;
        left: 25%;
    }
    .comfirm-circle {
        position: absolute;
        width: 50%;
        height: 32%;
        top: 55%;
        left: 25%;
        z-index: -2;
    }
    img.scan-line {
        display: block;
        position: absolute;
        top: 63%;
        left: 25%;
        width: 49%;
        z-index: -1;
    }
    .action {
        animation-duration: 0.7s;
        animation-name: scan-animatie;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
