.sb-mod.sb-mod--home {
	background-image: url(../../../image/bg-01.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;

	.upload-btn {
		width: 33%;
		height: 21%;
		left: 34%;
		top: 60%;
		position: absolute;
		overflow: hidden;
	}
	.upload-btn input {
		position: absolute;
		left: 0;
		top: 0;
		width: 4000px;
		height: 4000px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		opacity: 0;
	}
	.btn-rules {
		width: 33%;
		height: 6%;
		left: 34%;
		top: 84%;
		position: absolute;
	}
}