.sb-mod.sb-mod--comments {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    #comments-container-commentsList {
        overflow: auto;
    }
    .comments-options {
        background-color: #FFF;
        width: 100%;
        text-align: center;
    }
    .left-message {
        input {
            width: 50%;
        }
        button{
        	margin-left: 4px;
        }
    }
    .pages {
    	margin-top: 4px;
        span {
            margin-left: 2px;
            margin-right: 2px;
        }
    }
}
