.sb-mod.sb-mod--price {
    .body-inner {
        height: 100%;
    }
    .price-bg-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    #price-avatar {
        position: absolute;
        height: auto;
    }
    .p1 #price-avatar {
        left: 23.7%;
        top: 22.4%;
        width: 52.7%;
    }
    .p2 #price-avatar {
        left: 42.7%;
        top: 17.7%;
        width: 15%;
    }
    .p3 #price-avatar {
        left: 47.9%;
        top: 37.1%;
        width: 15.8%;
    }
    .p4 #price-avatar {
        left: 62.9%;
        top: 38%;
        width: 15.8%;
    }
    .p5 #price-avatar {
        left: 37.3%;
        top: 23.5%;
        width: 25%;
    }
    .p6 #price-avatar {
        left: 35.7%;
        top: 33%;
        width: 16%;
    }
    .p7 #price-avatar {
        left: 35.5%;
        top: 31.6%;
        width: 20.7%;
    }
    .customize {
        position: absolute;
        width: 68.4%;
        height: 34.5%;
        top: 52%;
        left: 50%;
        margin-left: -34.2%;
        display: none;
    }
    .customize-title {
        img {
            width: 100%;
            height: auto;
        }
    }
    #price-customized-good-name {
        position: absolute;
        left: 0;
        width: 100%;
        color: #fff;
        text-align: center;
        font-weight: 700;
        top: 5%;
    }
    #price-customized-good-detail {
        position: absolute;
        left: 15%;
        top: 56%;
        width: 78%;
        height: 40%;
        font-size: 0.9rem;
        color: #fff;
        text-align: center;
    }
    .price {
        position: absolute;
        width: 58.8%;
        height: 16.7%;
        left: 50%;
        top: 68.3%;
        margin-left: -29.1%;
        text-align: center;
        .img-btn {
            position: static;
            width: 27.1%;
            height: 60%;
            margin: 0 3%;
            background-position: left top;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .price-btn-1 {
            background-image: url(../../../image/price/price-btn-01.png);
            &.on {
                background-image: url(../../../image/price/price-btn-on-01.png);
            }
        }
        .price-btn-2 {
            background-image: url(../../../image/price/price-btn-02.png);
            &.on {
                background-image: url(../../../image/price/price-btn-on-02.png);
            }
        }
        .price-btn-3 {
            background-image: url(../../../image/price/price-btn-03.png);
            &.on {
                background-image: url(../../../image/price/price-btn-on-03.png);
            }
        }
    }
    #customized-price {
        position: absolute;
        width: 80%;
        bottom: 5%;
        left: 16%;
        border: none;
        height: 23.5%;
        text-align: center;
        background-color: transparent;
        outline: none;
        &.focus {
            background-color: #fff;
        }
    }
    .btn-back {
        width: 30%;
        height: 8%;
        left: 12%;
        top: 87%;
    }
    .btn-next {
        width: 30%;
        height: 8%;
        left: 60%;
        top: 87%;
    }
}