.container-result {
    background-image: url(../image/result.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    .result-list {
        left: 50%;
        position: absolute;
        top: 33%;
        height: 24%;
        div {
            font-size: 1rem;
            height: 25%
        }
    }
}
