.sb-mod.sb-mod--home {
    background-color: #4092cc;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    .form-login {
        margin:  100px auto;
        width: 50%;
    }
    .btn{

    }
}
