body.body-sb-mod--mom-open {
	background-color: #feb85c;
}
.sb-mod.sb-mod--mom-open {
	background-image: url(../../../image/mom-open/bg.jpg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;

	.title {
		width: 76.53%;
		left: 50%;
		top: 11.1%;
		margin-left: -38.27%;
		position: absolute;
		position: absolute;
		transition: all .3s ease 1.5s;
		img {
			width: 100%;
			height: auto;
			display: none;
		}
	}

	.express {
		width: 75.6%;
		left: 50%;
		top: 26.6%;
		margin-left: -37.8%;
		position: absolute;
		transition: all 1s ease .5s;
		img {
			width: 100%;
			height: auto;
		}
	}

	.open-btn {
		width: 25.47%;
		height: 8.94%;
		left: 50%;
		top: 87.17%;
		margin-left: -12.74%;
		position: absolute;
		background-image: url(../../../image/mom-open/open-btn.png);
		transition: all .3s ease 2s;
	}

	.off {
		.open-btn {
			transform: translateY(90px);
			opacity: 0;
		}
		.express {
			transform: scale(0.2);
			opacity: 0;
		}
		.title {
			transform: scale(0.2);
			opacity: 0;
		}
	}
}
