@import "../buy/goods.scss";
body.body-sb-mod--timeline {
	background-color: #fff;
}
.sb-mod.sb-mod--timeline {
	.body-inner {
		height: 100%;
	}

	.btn-go {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}