body {
    height: 100%;
    background-color: #169ADA;
    font-size: 17px;
}

.bar-top-search {
    background-color: #169ADA;
    height: 50px;
    width: 100%;
    z-index: 1500;
    padding-top: 8px;
}

.bar-bottom {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 100%;
    background-color: #169ADA;
}

.page-wrapper {
    background-color: white;
    height: auto;
    min-height: 100%;
    overflow: scroll;
}

.index-search-input {
    width: 70%;
    margin: 6px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 1rem;
    float: left;
}

input.index-search-input:focus {
    border-bottom: 1px solid white;
    color:white
}

#index-btn-back {
    height: 35px;
    width: 35px;
    float: left;
}

#index-btn-back  div{
    height: 35px;
    width: 35px;
    background-image: url(../image/bar-top-back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#index-btn-search {
    height: 35px;
    width: 35px;
    float: right;
    padding: 2px;
    margin-right: 10px;
}

#index-btn-search div{
    background-image: url(../image/bar-top-search.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
}

.bar_bottom_1 {
    position: relative;
    background-image: url(../image/bar_bottom_1.png)
}

.bar_bottom_2 {
    position: relative;
    background-image: url(../image/bar_bottom_2.png)
}

.bar_bottom_3 {
    position: relative;
    background-image: url(../image/bar_bottom_3.png)
}

.bar_bottom_4 {
    position: relative;
    background-image: url(../image/bar_bottom_4.png)
}

.bar_bottom_5 {
    position: relative;
    background-image: url(../image/bar_bottom_5.png)
}

.bar_bottom_6 {
    position: relative;
    background-image: url(../image/bar_bottom_6.png)
}

.inline-block {
    display: inline-block;
}

.bar-item {
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
}

#index-btn-common{
    left: 3%;
}
#index-btn-highPressure{
    left: 19%;
}
#index-btn-lowPressure{
    left: 35%;
}
#index-btn-accessory{
    left: 51%;
}
#index-btn-case{
    left: 66%;
}
#index-btn-comments{
    left: 82%;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

button{
    margin: 1px;
    background-color: #E4E4E4;
    border: 1px solid #E4E4E4;
}
button:active{
    background-color: #BBBBBB;
    border: 1px solid #BBBBBB;
}
