.sb-mod.sb-mod--home {
	// background-image: url("../../../image/index.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	.body-inner{
		height: 100%;

		canvas{
			position: absolute;
			top: 4%;
		    left: 10%;
		    width: 69%;
		    height: 95%;
		}
		.container{
			background-image: url(../../../image/home.png);
			background-size: cover;
		}
	}
}
