.sb-mod.sb-mod--home {
	// background-image: url("../../../image/index.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	.body-inner{
		height: 100%;

		canvas{
			display: block;
			margin: 0 auto;
			width: 1120px;
			height: 840px;
		}
		.container{
			background-image: url(../../../image/home.png);
			background-size: cover;
		}
		#btn-fullscreen{
			height:100px;
			width:100px;
			position: absolute;
			top: 0;
			left: 0;

		}
	}
}
