.sb-mod.sb-mod--category {
    /** 取消字体前的图表 */
    i.jstree-icon.jstree-themeicon.icon-null.jstree-themeicon-custom {
        height: 0px;
        width: 0px;
    }
	[aria-level="1"]{
		background-color: rgba(129, 129, 129, 0.35);
	}
	[aria-level="1"] ul{
		background-color: white;
		.jstree-node {
			margin-left: 8px;
		}
	}
}

