html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #169ADA;
}

.placeholer-bar-top-search {
    height: 40px;
    width: 100%;
}

.bar-top-search {
    background-image: url(../image/bar_top_search.png);
    background-color: #169ADA;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
}

.placeholer-bar-bottom {
    height: 60px;
    width: 100%;
}

.bar-bottom {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #169ADA;
}

.page-wrapper {
    background-color: white;
    height: auto;
    min-height: 100%;
}

.index-search-input {
    width: 60%;
    margin: 7px;
    background-color: transparent;
    border: 0px;
    color: white;
}

.index-search-input:focus {
    border-bottom: 1px solid white;
}

#index-btn-search {
    height: 40px;
    width: 30%;
    position: fixed;
    right: 0;
    top: 0;
}

.bar_bottom_1{
	background-image: url(../image/bar_bottom_1.png)
}
.bar_bottom_2{
	background-image: url(../image/bar_bottom_2.png)
}
.bar_bottom_3{
	background-image: url(../image/bar_bottom_3.png)
}
.bar_bottom_4{
	background-image: url(../image/bar_bottom_4.png)
}
.bar_bottom_5{
	background-image: url(../image/bar_bottom_5.png)
}
