html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #169ADA;
    font-size: 17px;
}

.placeholer-bar-top-search {
    height: 40px;
    width: 100%;
}

.bar-top-search {
    background-color: #169ADA;
    height: 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
    padding-top: 8px;
}

.placeholer-bar-bottom {
    height: 40px;
    width: 100%;
}

.bar-bottom {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #169ADA;
}

.page-wrapper {
    background-color: white;
    height: auto;
    min-height: 100%;
}

.index-search-input {
    width: 70%;
    margin: 2px;
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 1rem;
}

.index-search-input:focus {
    border-bottom: 1px solid white;
}

#index-btn-back {
    background-image: url(../image/bar-top-back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    margin-left: 8px;
    float: left;
}

#index-btn-search {
    background-image: url(../image/bar-top-search.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 22px;
    width: 25px;
    float: right;
    margin-right: 13px;
}

.bar_bottom_1 {
    background-image: url(../image/bar_bottom_1.png)
}

.bar_bottom_2 {
    background-image: url(../image/bar_bottom_2.png)
}

.bar_bottom_3 {
    background-image: url(../image/bar_bottom_3.png)
}

.bar_bottom_4 {
    background-image: url(../image/bar_bottom_4.png)
}

.bar_bottom_5 {
    background-image: url(../image/bar_bottom_5.png)
}

.bar_bottom_6 {
    background-image: url(../image/bar_bottom_6.png)
}

.inline-block {
    display: inline-block;
}

.bar-item {
    width: 15%;
    height: 100%;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
